:root {
    --page-bg-color: #0B1220;
    --page-panels-color: #111C2E;
    --page-panels-border: rgba(255, 255, 255, 0.08);
    --main-text-color: #E6EDF7;
    --secondary-text-color: #A9B4C7;
    --rumble-color: #C38800;
    --alliance-color: rgb(60, 74, 188);
    --beast-color: rgb(179, 120, 61);
    --blackrock-color: rgb(73, 69, 86);
    --cenarion-color: rgb(43, 116, 100);
    --horde-color: rgb(199, 57, 65);
    --undead-color: #5A359A;
    --neutral-color: #75838F;
}


#minisListDisplay {
    background-color: var(--page-panels-color);
    color: var(--main-text-color);
}

#minisListSearch {
    background-color: var(--page-panels-color);
}

.mini-card {
    max-width: 300px;
    border: 1px solid black;
    background-color: var(--page-panels-color);
}

.mini-list-image {
    position: relative;
    width: 100px;
    z-index: 2;
}

.mini-cost-container {
    display: block;
    width: 20px;
    height: 20px;
    z-index: 3;
    top: 0;
    right: 5px;
}

.mini-cost-image {
    width: 20px;
    height: 20px;
}

.mini-cost-value {
    height: 20px;
    font-size: 18px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.mini-cost-image-value {
    height: 10px;
    width: 10px;
}

.mini-family-image {
    display: block;
    left: 5px;
    width: 20px;
    z-index: 1;
}

.mini-type-image {
    display: block;
    right: 5px;
    bottom: 0;
    z-index: 4;
    width: 20px;
}





@media screen and (min-width: 576px) {
    .mini-card {
        width: 160px;
        height: 270px;
    }

    .mini-family-image {
        left: 5px;
        width: 30px;
    }

    .mini-type-image {
        width: 30px;
    }

    .mini-list-stack {
        width: 155px;
        height: 180px;
        margin: 0 auto;
    }

    .mini-list-image {
        width: 150px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(-20%);   
    }

    .mini-list-image:hover{
        transform: translateX(-50%) translateY(-20%) scale(1.15);
        transition: all .15s ease-out;
    }

    .mini-list-base {
        width: 150px;
        height: auto;
        z-index: 1;
    }

    .mini-card .card-body {
        height: 72px;
    }

    .mini-cost-container {
        width: 30px;
        height: 30px;
        z-index: 3;
        left: 50%;
        top: auto;
        bottom: 15px;
        transform: translateX(-50%);
    }


    .mini-cost-image {
        width: 30px;
        height: 30px;
    }

    .mini-cost-value {
        height: 30px;
        font-size: 24px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    }

    .mini-cost-image-value {
        height: 15px;
        width: 15px;
    }

    .mini-name{
        width: 90%;
    }

    .filter-item{
        display: inline-block;
    }

    .filter-checkbox{
        opacity: 0;
        width: 1;
        height: 1;
        pointer-events: none;
    }

    .filter-label{
        display: inline-flex;
        padding: 2px;
        border: 1px solid transparent;
        border-radius: 5px;
    }

    .filter-label img{
        width: 24px;
        height: 24px;
        display: block;
        filter: brightness(.75);
    }

    .filter-checkbox:checked + .filter-label{
        border-color: var(--rumble-color);
        
    }

    .filter-checkbox:checked + .filter-label img{
        filter: brightness(1);
    }
}


@media screen and (min-width: 1400px) {
    .mini-card {
        width: 185px;
        height: 270px;
    }

    .mini-list-stack {
        position: relative;
        width: 155px;
        height: 180px;
        margin: 0 auto;
    }

    .mini-list-image {
        width: 150px;
        max-height: 150px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(-20%);
    }

    .mini-list-base {
        display: inline;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 150px;
        height: auto;
        transform: translateX(-50%);
    }

    .mini-card .card-body {
        height: 72px;
    }
}




.alliance-gradient {
    background: linear-gradient(135deg, rgba(60, 74, 188, 0.2) 0%, rgba(60, 74, 188, 0.4) 100%);
}

.alliance-undead-gradient {
    background: rgb(60, 74, 188);
    background: linear-gradient(135deg, rgba(60, 74, 188, 0.2) 0%, rgba(60, 74, 188, 0.4) 33%, rgba(90, 53, 154, 0.2) 66%, rgba(90, 53, 154, 0.4) 100%);
}

.beast-gradient {
    background: linear-gradient(135deg, rgba(179, 120, 61, 0.2) 0%, rgba(179, 120, 61, 0.4) 100%);
}

.blackrock-gradient {
    background: linear-gradient(135deg, rgba(73, 69, 86, 0.2) 0%, rgba(73, 69, 86, 0.8) 100%);
}

.cenarion-gradient {
    background: linear-gradient(135deg, rgba(43, 116, 100, 0.2) 0%, rgba(43, 116, 100, 0.4) 100%);
}

.horde-gradient {
    background: linear-gradient(135deg, rgba(199, 57, 65, 0.2) 0%, rgba(199, 57, 65, 0.4) 100%);
}

.undead-gradient {
    background: #5a359a;
    background: linear-gradient(135deg, rgba(90, 53, 154, 0.2) 0%, rgba(90, 53, 154, 0.4) 100%);
}

.undead-beast-gradient {
    background: #5a359a;
    background: linear-gradient(135deg, rgba(90, 53, 154, 0.2) 0%, rgba(90, 53, 154, 0.4) 33%, rgba(179, 120, 61, 0.2) 66%, rgba(179, 120, 61, 0.4) 100%);
}