.mini-card{
    max-width: 300px;
    border: 1px solid black;
    background-color: white; 
}

.mini-list-image{
    width: 100px;
}

.mini-list-base{
    display: none;
}

@media screen and (min-width: 576px) {
   .mini-card{
    width: 160px;
    height: 280px;
   }

   .mini-list-stack{
    position: relative;
    width: 155px;
    height: 180px;
    margin: 0 auto;
   }

   .mini-list-image{
    width: 150px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-20%);
    z-index: 2;
    }

    .mini-list-base{
        display: inline;
         position: absolute;
            left: 50%;
            bottom: 0;
            width: 150px;
            height: auto;
            z-index: 1;
            transform: translateX(-50%);
    }

}



