#mini-infos {
        background-color: var(--page-panels-color);
        color: var(--main-text-color);
}

.mini-nav {
        color: var(--main-text-color);
        

        .mini-nav-item{
                border: 1px solid var(--page-panels-border);
        
                .mini-nav-img{
                        
                        width: 100px;
                        height: 100px;
                        object-fit: contain;
                }
        }
}

@media screen and (min-width: 576px) {

        .mini-nav {
                .mini-nav-item {
                        width: 250px;

                        
                }
        }

}

@media screen and (min-width: 768px) {

        .mini-nav {
                .mini-nav-item {
                        width: 300px;

                        .mini-nav-img{
                                width: 100%;
                                height: auto;
                                max-width: 110px;
                        }
                }
        }

}

@media screen and (min-width: 1400px) {

}